[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.1"
mysql-connector-python = "==8.3.0"
asgiref = "==3.7.2"
sqlparse = "==0.4.4"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
mysqlclient = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
